.DS_Store
.idea
*.log
tmp/


*.vok
*.vo
*.vos
*.glob
*.aux
*.d
*.conf

.lia.cache

Makefile
*.rubbercache
*.pdf
*.bbl
*.blg
*.aux
*.out
/Rapport/test
/Rapport/test.c
/Rapport/test.rs
*.toc
*.nav
*.snm
*.vrb
